{% comment %} Back button {% endcomment %}
<div class="c-back {{ modifier }}">
    <a href="{{ url }}" class="c-button -back">
        <span class="c-button_label || c-label -aeonik -caption">{{ label }}</span>
    </a>
</div>