<div class="c-block-multi-text-wide">
    <div class="u-color-cyan">
        <div class="c-block-multi-text-wide_inner || c-text -aeonik -body3">
            {{text}}
        </div>
    </div>
</div>
