{% assign title_line_1 = settings.general_splash_title_1 %}
{% assign title_line_2 = settings.general_splash_title_2 %}
{% assign subtitle = settings.general_splash_subtitle %}
{% assign image = settings.general_splash_image %}
{% assign cta = settings.general_splash_cta %}
{% assign cta_description = settings.general_splash_cta_description %}
{% assign cta_button_label = settings.general_splash_cta_button_label %}


{% comment %} --------------------- {% endcomment %}


{% if specific_title_line_1 != blank and specific_subtitle != blank and specific_image != blank and specific_cta != blank %}

    <div class="c-featured-splash">
        {% include 'block-splash' with
            title_line_1: specific_title_line_1,
            title_line_2: specific_title_line_2,
            subtitle: specific_subtitle,
            image: specific_image,
            cta: specific_cta,
            cta_description: specific_cta_description,
            cta_button_label: specific_cta_button_label
        %}
    </div>

{% elsif title_line_1 != blank and subtitle != blank and image != blank and cta != blank %}

    <div class="c-featured-splash">
        {% include 'block-splash' with
            title_line_1: title_line_1,
            title_line_2: title_line_2,
            subtitle: subtitle,
            image: image,
            cta: cta,
            cta_description: cta_description,
            cta_button_label: cta_button_label
        %}
    </div>
    
{% endif %}
