<div class="c-outdated js-outdated" style="display: none;">
    <div class="c-outdated_inner">
        <div class="c-outdated_content">
            <p class="c-outdated_text">Sorry, your browser is not compatible. Consider updating to enjoy the website.</p>
            <a href="https://browsehappy.com" class="c-outdated_link">Update now</a>
        </div>
    </div>
</div>
