<div class="c-product-hero u-relative">
  <div class="o-grid -center-items-y u-grid-col-2@from-medium">
    {% include 'product-gallery' %}
    {% include 'product-form' %}
  </div>

{% render 'react-product-gallery' %}

  {% comment %} Model viewer {% endcomment %}
  {% include 'product-model-viewer' %}
</div>