<div class="c-share_button_wrapper {{modifier}}">
    <button class="c-button -share" data-module-share-toggler>
        <span class="c-button_icon">
            <svg role="img" aria-label="Share">
                <use xlink:href="#icon-share"></use>
            </svg>
        </span>
        <span class="c-button_label">
            {{ label }}
        </span>
    </button>
</div>