<div class="c-page">
    <div class="c-section -padding-top-small">
        <div class="o-container -default">

            <div class="u-text-center">
                <h1 class="c-heading -druk -h3 -cyan">My account</h1>
            </div>

            <div class="c-login" data-module-login>
                <div class="c-form_wrapper || c-login_main">
                    <h2 class="c-heading -subtitle1 -aeonik || c-form_title">
                        Login

                        <span class="c-form_logo">
                            <svg aria-hidden="true" focusable="false">
                                <use xlink:href="#logotype"></use>
                            </svg>
                        </span>
                    </h2>

                    {% form 'customer_login' %}

                        {% include 'form-feedback' %}

                        <div class="c-form_item">
                           <label for="customer_email" class="c-form_label">Email address*</label>
                           <input type="email" name="customer[email]" class="c-form_input" placeholder="Enter E-mail" required />
                        </div>

                        <div class="c-form_item">
                           <label for="customer_email" class="c-form_label" for="customer_password">Password*</label>
                           <input type="password" name="customer[password]" class="c-form_input" placeholder="Enter Password" id="customer_password" required />
                        </div>

                        <div class="c-form_bottom">
                            <div class="c-form_bottom_item">
                                <button type="submit" class="c-button -transparent -hover-fill-primary">
                                    <span class="c-button_label">Login</span>
                                </button>
                            </div>

                            <div class="c-form_bottom_item">
                                <button class="c-form_link" type="button" data-login="toggler">Forgot password?</button>
                            </div>
                        </div>
                    {% endform %}
                </div>

                <div class="c-form_wrapper || c-login_forgot-password">
                    <h2 class="c-heading -subtitle1 -aeonik || c-form_title">Forgot Password</h2>

                    {% form 'recover_customer_password' %}

                        {% include 'form-feedback' %}

                        <div class="c-form_item">
                           <label for="customer_email" class="c-form_label">Email address*</label>
                           <input type="email" name="email" class="c-form_input" placeholder="Enter E-mail" />
                        </div>

                        <div class="c-form_bottom">
                            <div class="c-form_bottom_item">
                                <button type="submit" class="c-button -transparent -hover-fill-primary">
                                    <span class="c-button_label">Submit</span>
                                </button>
                            </div>

                            <div class="c-form_bottom_item">
                                <button class="c-form_link" type="button" data-login="toggler">Cancel</button>
                            </div>
                        </div>
                    {% endform %}
                </div>

                <div class="c-form_wrapper || c-splash-account">
                    <div>
                        <h2 class="c-heading -subtitle1 -aeonik || c-form_title">Create an account</h2>

                        <div class="c-splash-account_perks">
                            <ul class="c-splash-account_perks_list">
                                <li class="c-splash-account_perks_item">
                                    <span class="c-splash-account_perks_item_icon">
                                        <svg aria-hidden="true" focusable="false">
                                            <use xlink:href="#icon-check"></use>
                                        </svg>
                                    </span>

                                    Faster checkout
                                </li>

                                <li class="c-splash-account_perks_item">
                                    <span class="c-splash-account_perks_item_icon">
                                        <svg aria-hidden="true" focusable="false">
                                            <use xlink:href="#icon-check"></use>
                                        </svg>
                                    </span>

                                    Store multiple addresses
                                </li>

                                <li class="c-splash-account_perks_item">
                                    <span class="c-splash-account_perks_item_icon">
                                        <svg aria-hidden="true" focusable="false">
                                            <use xlink:href="#icon-check"></use>
                                        </svg>
                                    </span>

                                    Track your orders
                                </li>

                                <li class="c-splash-account_perks_item">
                                    <span class="c-splash-account_perks_item_icon">
                                        <svg aria-hidden="true" focusable="false">
                                            <use xlink:href="#icon-check"></use>
                                        </svg>
                                    </span>

                                    Earn rewards
                                </li>
                            </ul>
                        </div>
                    </div>


                    <div class="c-form_bottom">
                        <div class="c-form_bottom_item">
                            <a href="/account/register" class="c-button -transparent -hover-fill-primary">
                                <span class="c-button_label">Create an account</span>
                            </a>
                        </div>
                    </div>

                    <div class="c-splash-account_image-wrapper || c-lazy">
                        <img
                            class="c-lazy_image || c-splash-account_image"
                            src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 800 600'%3E%3C/svg%3E"
                            data-src="{{ 'create-account-splash.jpg' | asset_img_url: "800x600", crop: 'center' }}"
                            data-scroll
                            data-scroll-call="lazyLoad, Scroll"
                            alt="Create an account"
                        >
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
