<div class="c-page">
    <div class="c-section -padding-top-small">
        <div class="o-container -default">
            <div class="u-text-center">
                <h1 class="c-heading -druk -h3 -cyan">Reset password</h1>
            </div>
        </div>

        <div class="o-container -small">
            <div class="c-form_wrapper">
                <h2 class="c-heading -subtitle1 -aeonik || c-form_title">
                    New password

                    <span class="c-form_logo">
                        <svg aria-hidden="true" focusable="false">
                            <use xlink:href="#logotype"></use>
                        </svg>
                    </span>
                </h2>

                {% form 'reset_customer_password' %}

                    {{ form.errors | default_errors }}

                    <div class="c-form_item">
                       <label for="password" class="c-form_label">Password</label>
                       <input type="password" value="" name="customer[password]" size="16" class="c-form_input"/>
                    </div>

                    <div class="c-form_item">
                       <label for="password_confirmation" class="c-form_label">Password Confirmation</label>
                       <input
                            type="password"
                            value=""
                            name="customer[password_confirmation]"
                            size="16"
                            class="c-form_input"
                        />
                    </div>

                    <div class="c-form_bottom">
                        <div class="c-form_bottom_item">
                            <button type="submit" class="c-button -transparent -hover-fill-primary">
                                <span class="c-button_label">Reset password</span>
                            </button>
                        </div>

                        <div class="c-form_bottom_item">
                            <a class="c-form_link" href="/account/login" data-login="toggler">Already registred?</a>
                        </div>
                    </div>
                {% endform %}
            </div>
        </div>
    </div>
</div>
