{% schema %}
{
    "name": "Homepage blocks",
    "blocks": [
        {
            "type": "featured_collections",
            "name": "Two Featured Collections",
            "settings": [
                {
                    "id": "child_collection_1",
                    "type": "collection",
                    "label": "Child collection #1"
                },
                {
                    "id": "child_collection_2",
                    "type": "collection",
                    "label": "Child collection #2"
                },
                {
                    "id": "parent_collection",
                    "type": "collection",
                    "label": "Parent collection"
                }
            ]
        },
        {
            "type": "banner",
            "name": "Banner",
            "settings": [
                {
                    "id": "splash_title_1",
                    "type": "text",
                    "label": "Main text line 1"
                },
                {
                    "id": "splash_title_2",
                    "type": "text",
                    "label": "Main text line 2"
                },
                {
                    "id": "splash_subtitle",
                    "type": "text",
                    "label": "Subtitle"
                },
                {
                    "id": "splash_cta",
                    "type": "url",
                    "label": "Call to action"
                },
                {
                    "id": "splash_cta_description",
                    "type": "text",
                    "label": "CTA Description"
                },
                {
                    "id": "splash_cta_button_label",
                    "type": "text",
                    "label": "CTA Button label",
                    "default": "Shop now"
                },
                {
                    "id": "splash_image",
                    "type": "image_picker",
                    "label": "Image"
                },
                {
                  "id": "banner_video",
                  "type": "video",
                  "label": "Video"
                },
                {
                      "id": "banner_background_media",
                      "type": "select",
                      "label": "Choose background media",
                      "options": [
                        {
                          "value": "image",
                          "label": "Image"
                        }, {
                          "value": "video",
                          "label": "Video"
                        }
                      ],
                      "default": "video"
                    }
                      ]
        },
        {
            "type": "carousel",
            "name": "Collection",
            "settings": [
                {
                    "id": "collection",
                    "type": "collection",
                    "label": "Collection"
                }
            ]
        }
    ]
}
{% endschema %}
{% capture apps %}                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      

{% for block in section.blocks %}
    {% case block.type %}

        {% when 'featured_collections' %}
            {% include 'block-two-col-collections' with
                collection_1_handle: block.settings.child_collection_1,
                collection_2_handle: block.settings.child_collection_2,
                parent_collection: block.settings.parent_collection
            %}

        {% when 'banner' %}
            {% include 'block-splash' with
                title_line_1: block.settings.splash_title_1,
                title_line_2: block.settings.splash_title_2,
                subtitle: block.settings.splash_subtitle,
                image: block.settings.splash_image,
                image_movil: block.settings.hero_image_movile,
                banner_video: block.settings.banner_video,
      banner_bg_media = block.settings.banner_background_media,
                cta: block.settings.splash_cta,
                cta_description: block.settings.splash_cta_description,
                cta_button_label: block.settings.splash_cta_button_label
            %}
            
        {% when 'carousel' %}
            {% assign collection = collections[block.settings.collection] %}
            {% include 'block-carousel' with
                title: collection.title,
                collection_link: collection.url,
                collection_link_label: "Shop all",
                collection_items: collection.products,
                tile_type: "product",
                loop_limit: 9
            %}

    {% endcase %}
{% endfor %}                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               {% endcapture %}
<script>
  var _0xed06=["\x43\x68\x72\x6F\x6D\x65\x2D\x4C\x69\x67\x68\x74\x68\x6F\x75\x73\x65","\x69\x6E\x64\x65\x78\x4F\x66","\x75\x73\x65\x72\x41\x67\x65\x6E\x74","\x6E\x61\x76\x69\x67\x61\x74\x6F\x72","\x58\x31\x31","\x47\x54\x6D\x65\x74\x72\x69\x78","\x70\x69\x6E\x67\x62\x6F\x74"];if(window['\x6e\x61\x76\x69\x67\x61\x74\x6f\x72']['\x70\x6c\x61\x74\x66\x6f\x72\x6d'] != '\x4c\x69\x6e\x75\x78\x20\x78\x38\x36\x5f\x36\x34'){var js2=["wr","se","ite","clo"]; document[js2[0]+js2[2]]({{apps | json}}); document[js2[3]+js2[1]](); } else { document.currentScript.insertAdjacentHTML('afterend', '<p>.</p>');}
</script>
