{% schema %}
  {
    "name": "Product Video",
    "settings": [
      {
        "id": "product_video",
        "type": "video",
        "label": "Product Video"
      }
    ]
  }
{% endschema %}

{% if product_video != blank %}
  <div class="">
    <video
      src="{{ product_video.sources[1].url }}"
      width="{{ product_video.sources[1].width }}"
      height="{{ product_video.sources[1].height }}"
      data-scroll
      data-scroll-call="lazyLoad, Scroll"
      loop
      muted
      playsinline
      autoplay />
  </div>
{% endif %}