{% schema %}
  {
    "name": "Product Video",
    "settings": [
      {
        "id": "product_video",
        "type": "video",
        "label": "Product Video"
      }
    ]
  }
{% endschema %}

{% assign product_video = section.settings.product_video %}
{% if product_video != blank %}
  <div class="section-product-video">
    <video
      src="{{ product_video.sources[1].url }}"
      width="100%"
      height="auto"
      data-scroll
      data-scroll-call="lazyLoad, Scroll"
      loop
      muted
      playsinline
      autoplay />
  </div>
{% endif %}