{% schema %}
  {
    "name": "Product Video",
    "settings": [
      {
        "id": "product_video",
        "type": "video",
        "label": "Product Video"
      }
    ]
  }
{% endschema %}

{% assign product_video = section.settings.product_video %}
{% if product_video != blank %}
  <div class="section-product-video">
    <video
      poster="{{ product_video.preview_image.src | img_url: 'master' }}"
      width="100%"
      height="auto"
      data-scroll
      data-scroll-call="lazyLoad, Scroll"
      loop
      muted
      playsinline
      autoplay>
      <source src="{{ product_video.sources[1].url }}" type="video/mp4">
      Your browser does not support the video tag.
    </video>
  </div>
{% endif %}