<div class="c-page">
    <header class="c-page-header">
        <div class="o-container">
            <div class="c-page-header_inner">
                <div class="c-page-header_top">
                    <div class="c-page-header_heading">
                        <h1 class="c-page-header_title">Page not <br>found</h1>
                    </div>
                </div>
                <div class="c-page-header_bottom">                    
                    <div class="c-page-header_bottom_col">
                        <div class="c-page-header_pagination">
                            <p class="c-page-header_pagination_label || c-label -mono -medium -uppercase -bold">
                                <span>Error 404 <br> page not found</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="c-section">
        <div class="o-container">
            <div class="c-wysiwyg -small || u-margin-bottom-small || c-page-header_description">
                <p>Sorry for the inconvenience: the page you were trying to reach is unavailable.</p>
            </div>

            <a href="{{ shop.url }}" class="c-button -transparent -hover-fill-primary">Back to homepage</a>
        </div>
    </div>
</div>
