<div class="c-page">
    <h1 class="u-screen-reader-text">{{ page_title }}</h1>
    {% section 'block-hero' %}
    {% section 'block-multi-homepage' %}
    {% include 'block-about' %}
    {% include 'block-cards' %}
</div>
