<div class="c-page">
    <div class="c-section -padding-top">
        <div class="o-container">
            <div class="u-text-center">
                <h1 class="c-heading -h6 -aeonik">{{ page.title }}</h1>
            </div>
        </div>
    </div>

    <div class="c-section">
        <div class="o-container -default">
            <div class="c-iframe">
                {{ page.content }}
            </div>
        </div>
    </div>
</div>
