
<div class="c-page || u-relative u-overflow-hidden">
    <div class="c-support-background || c-lazy">
        <img
            class="c-lazy_image"
            src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 288 293'%3E%3C/svg%3E"
            data-src="{{ 'support-background.jpg' | asset_img_url: 'master'}}"
            data-scroll
            data-scroll-call="lazyLoad, Scroll"
            alt="World background"
        >
    </div>

    {% section 'support-header' %}
    {% section 'block-documents' %}
    {% section 'support-footer' %}
</div>